### task detail using append

In [2]:
task_data = []

while True:
    task = input("enter task status (type done for close)")
    if task.lower() == 'done':
        break
    task_data.append(task)    

# show all task
for data in task_data:
    print(data)

Worked upon ecommerce
worked upon puravida
worked upon tecmantras

### append entire object as a single item

In [54]:
data = []

data.append([1,2])
data.append((4,5))
data.append({22,24})
data.append({1: "new", 2: "best"})

print(data)

[[1, 2], (4, 5), {24, 22}, {1: 'new', 2: 'best'}]

In [55]:
list1 = [1,2,3]
list2 = [4,5,6]

list1.append(list2)

print(list1)

[1, 2, 3, [4, 5, 6]]

### Student Grade using append

In [3]:
grades = []

while True:
    grade = input("enter grade number (type done for close)")
    if grade.lower() == 'done':
        break

    if grade.isdigit():
        grades.append(int(grade))

## Display grade
if grades:
    average = round(sum(grades) / len(grades), 2)
    print(f"Average grade", average)

Average grade 5.67

### Undo Last Action using pop

In [19]:
actions = []

while True:
    user_input = input("enter action name and if you type undo then remove last action (type done for close)")

    if user_input.lower() == 'done':
        break
    elif user_input.lower() == 'undo':
        if actions:
            actions.pop()
    else:
        actions.append(user_input)


## display all actions
for data in actions:
    print(data)

mahesh
malay
jigar

### Show Latest Email

In [21]:
mail = [
    "Welcome to our newsletter!",
    "Your OTP is 4895",
    "Your account is blocked",
]

print("Latest mail")
print(mail[0])

Latest mail
Welcome to our newsletter!

### Last Login msg

In [9]:
data = [
    "login at 1pm",
    "login at 2pm",
    "login at 5pm"
]


print(data[-1])

login at 5pm

### show 2nd and 3rd headlines

In [16]:
headlines = [
    "Breaking: Market Hits All-Time High",
    "Tech Giants Release New AI Tools",
    "Sports Update: Local Team Wins",
    "Weather Alert: Storm Incoming",
    "Finance Tips for 2025"
]

# show 2nd and 3rd headlines
show_headline = headlines[1:2]

for data in show_headline:
    print(data)

Tech Giants Release New AI Tools

### Skip first 2 orders

In [19]:
orders = [
    "1 - pizza",
    "2 - dabeli",
    "3 - sandwich",
    "4 - burger"
]

remaining_orders = orders[2:]

for order in remaining_orders:
    print(order)

3 - sandwich
4 - burger

### Show top 3 orders

In [21]:
orders = [
    "1 - pizza",
    "2 - dabeli",
    "3 - sandwich",
    "4 - burger"
]

remaining_orders = orders[:3]

for order in remaining_orders:
    print(order)

1 - pizza
2 - dabeli
3 - sandwich

### Show every second student

In [25]:
students = [
    "mahesh",
    "jigar",
    "divya",
    "Malay",
    "Dipika"
]

every_second_student = students[::-2]

for student in every_second_student:
    print(student)

Dipika
divya
mahesh

### Backup Product List Before Updating Inventory

In [45]:
product_stock = ["tv", "ac", "washing machine"]

backup_stock = product_stock[:]

product_stock.remove("tv")
del product_stock[1]

print(product_stock)
print(backup_stock)

['ac']
['tv', 'ac', 'washing machine']

### add product cart item using insert

In [14]:
cart_items = ["mobile", "laptop", "tv"]

cart_items.insert(2, ["machine", "new"])

cart_items

['mobile', 'laptop', ['machine', 'new'], 'tv']

In [70]:
data = []

data.insert(4, [1,2])
data.insert(3, (3,4))
data.insert(2, {44,35})
data.insert(1, {1:"best", 2:"new"})

print(data)

[[1, 2], {1: 'best', 2: 'new'}, (3, 4), {35, 44}]

### Show 2 star value index value

In [77]:
ratings = [1,2,3,4,5,2]

ratings.index(1)

0

### Combining Student Lists

In [11]:
student1 = ["mahesh", "jigar"]
student2 = ["divya", "mahesh",("test")]

student1 + student2

['mahesh', 'jigar', 'divya', 'mahesh', 'test']

### Merging New Orders into Existing Orders

In [10]:
new_orders = [12, 15, 16]
old_orders = [10, 8, 15]

new_orders.extend(old_orders)
new_orders

[12, 15, 16, 10, 8, 15]

###  Check if Student ID is in Attendance List

In [84]:
attendance = [101, 104, 105, 110]

if 101 in attendance:
    print("101 is exist")
else:
    print("101 not found")

101 is exist

### Length check

In [85]:
student = [2,4,5,7]

len(student)

4

### Returning Multiple Values from a Function

In [7]:
def get_student():
    return ["amit", 21, "BCA"]

name, age, course = get_student()

print(f"name is {name}, Age is {age}, Course is {course}")

name is amit, Age is 21, Course is BCA

### Parsing CSV Data

In [ ]:
csv_row = ["John", "Doe", 25, "New York", "USA"]

first_name, last_name, *rest = csv_row

print(first_name)
print(last_name)
print(rest)

SyntaxError: invalid syntax (1836385697.py, line 3)