In [2]:
empty_set = set()
empty_set

set()

### Immutable types include ints, floats, strings, tuples.

In [7]:
invalid_set = {1, [2]}
invalid_set

TypeError: unhashable type: 'list'

In [10]:
valid_set = {(1,), 1}
valid_set

{(1,), 1}

In [13]:
valid_set = {1, 1, 5,10,5}
valid_set

{1, 5, 10}

In [18]:
valid_set = {"new", 1}
valid_set

{1, 'new'}

In [19]:
valid_set = {5.23, 1}
valid_set

{1, 5.23}

### Tracking Online Users

In [23]:
online_users = {"alice", "bob"}
admin_view = online_users

online_users.add("charlie")
admin_view

{'alice', 'bob', 'charlie'}

### Storing Tags for a Post

In [30]:
post_tags = {"technology", "python", "programming"}

post_tags.add("laravel")
post_tags.add("Python")
post_tags

{'Python', 'laravel', 'programming', 'python', 'technology'}

In [32]:
number = {3,4,1,5}

number.add(2)
number.add(6)
number

{1, 2, 3, 4, 5, 6}

### Finding Common Skills in Job Candidates

In [33]:
required_skills = {"Python", "Django", "JavaScript", "SQL"}
candidate_skills = {"Python", "Django", "HTML", "CSS"}

matching_skill = required_skills & candidate_skills
matching_skill

{'Django', 'Python'}

### Merging User Roles

In [34]:
admin_roles = {"create", "delete", "update"}
moderator_roles = {"delete", "update", "view"}

merge_role = admin_roles | moderator_roles
merge_role

{'create', 'delete', 'update', 'view'}

### Finding Items in Stock That Are Not Sold

In [36]:
in_stock = {"apples", "bananas", "oranges", "grapes"}
sold_items = {"bananas", "grapes", "jambu"}

in_stock - sold_items

{'apples', 'oranges'}

### Finding Unique Users in Two Groups

In [37]:
group_a_users = {101, 102, 103}
group_b_users = {102, 104, 105}

group_a_users ^ group_b_users

{101, 103, 104, 105}

### Verifying if a Customer's Cart Meets Minimum Product Requirements

In [38]:
cart_items = {"shoes", "t-shirt", "jeans", "hat"}
offer_requirements = {"shoes", "t-shirt"}

cart_items >= offer_requirements

True

### <= example

In [ ]:
{1, 2} <= {1, 2, 3}

True

### Verifying if a Task is Completed

In [41]:
completed_tasks = {1, 2, 3, 4}

2 in completed_tasks

True

### Managing User Preferences in Different Sessions

In [43]:
some_set = { "theme: dark", "language: English", "notifications: ON" }

filled_set = some_set.copy()
filled_set is some_set

False

### remove() example

In [45]:
inventory = {"apple", "banana", "orange", "grapes"}

inventory.remove("banana")
inventory

{'apple', 'grapes', 'orange'}

In [46]:
inventory = {"apple", "banana", "orange", "grapes"}

inventory.remove("bananas")
inventory

KeyError: 'bananas'

### discard() example

In [49]:
inventory = {"apple", "banana", "orange", "grapes"}

inventory.discard("banana")
inventory

{'apple', 'grapes', 'orange'}

### pop() example

In [63]:
inventory = {"apple", "banana", "orange", "grapes"}

removed_item = inventory.pop()
removed_item

'grapes'

### clear() example

In [61]:
inventory = {"apple", "banana", "orange", "grapes"}

inventory.clear()
inventory

set()