### Student Record (Roll No, Name, Age)

In [3]:
student = (101, "mahesh", 25)

print("Roll no is: ", student[0])
print("Name is: ", student[1])

Roll no is:  101
Name is:  mahesh

In [2]:
student = (101, "mahesh", 25)
student[1] = "new"

TypeError: 'tuple' object does not support item assignment

### Function Returning Multiple Values

In [23]:
def get_user_status():
    return ("active",)

status = get_user_status()
print("status", type(status))

status <class 'tuple'>

### contact tuple

In [14]:
    tuple1 = (1,4,3)
    tuple2 = (5,6, [5,7])

    tuple1 + tuple2

(1, 4, 3, 5, 6, [5, 7])

### show 2nd and 3rd headlines

In [15]:
headlines = (
    "Breaking: Market Hits All-Time High",
    "Tech Giants Release New AI Tools",
    "Sports Update: Local Team Wins",
    "Weather Alert: Storm Incoming",
    "Finance Tips for 2025"
)

# show 2nd and 3rd headlines
show_headline = headlines[1:2]

for data in show_headline:
    print(data)

Tech Giants Release New AI Tools

### Skip first 2 orders

In [16]:
orders = (
    "1 - pizza",
    "2 - dabeli",
    "3 - sandwich",
    "4 - burger"
)

remaining_orders = orders[2:]

for order in remaining_orders:
    print(order)

3 - sandwich
4 - burger

### Show top 3 orders

In [17]:
orders = (
    "1 - pizza",
    "2 - dabeli",
    "3 - sandwich",
    "4 - burger"
)

remaining_orders = orders[:3]

for order in remaining_orders:
    print(order)

1 - pizza
2 - dabeli
3 - sandwich

### Show every second student

In [20]:
students = (
    "mahesh",
    "jigar",
    "divya",
    "Malay",
    "Dipika"
)

every_second_student = students[::-2]

for student in every_second_student:
    print(student)

Dipika
divya
mahesh

### Length check

In [21]:
student = (2,4,5,7)

len(student)

4

### Returning Multiple Values from a Function

In [24]:
def get_student():
    return ("amit", 21, "BCA")

name, age, course = get_student()

print(f"name is {name}, Age is {age}, Course is {course}")

name is amit, Age is 21, Course is BCA

### Iterating Over a List of Tuples

In [32]:
users = [("Mahesh", "Admin"), ("Jigar", "Editor"), ("Keyur", "Viewer")]


for name, role in users:
    print(f"{name} and role {role}")

Mahesh and role Admin
Jigar and role Editor
Keyur and role Viewer

### Parsing CSV Data

In [33]:
csv_row = ("John", "Doe", 25, "New York", "USA")

first_name, last_name, *rest = csv_row

print(first_name)
print(last_name)
print(rest)

John
Doe
[25, 'New York', 'USA']

### Swapping player turns in a game

In [34]:
player1 = "Mahesh"
player2 = "Jigar"

player1, player2 = player2, player1
print("Now player1 is:", player1)

Now player1 is: Jigar